<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Go認養大平台</title>
    <link rel="shortcut icon" type="image/x-icon" href="../Content/Images/petlogo.png" >
    <link rel="icon" type="image/png" href="../Content/Images/petlogo.png" >
    <link rel="stylesheet" href="~/Content/index.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body style="height:auto">
    @section scripts{
        <script>
            $(function () {
                $("#showlogin").load("/aniData/_logPartialMSG/@User.Identity.GetUserId()");

            });
        </script>
    }
    <div class="navbar navbar-default navbar-fixed-top at_top" style="background-color:#2c3e50;">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar">
                    </span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>@Html.ActionLink("Pet Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">

                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()

                        <li>@Html.ActionLink("關於我們", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("認養專區", "show", "aniData", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("送養專區", "showForAdopt", "aniData", new { id = User.Identity.GetUserId() }, new { @class = "navbar-brand", title = "showForAdopt" })</li>
                        <li>@Html.ActionLink("寵物幫手", "Help", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        @*<li>@Html.ActionLink("商 城", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@

                        @*@Html.Partial("_LoginPartial")*@

                        @Html.Partial(
                  "_logPartialMSG",
                          new ViewDataDictionary { { "id", User.Identity.GetUserId() } }
            );


                    }
                    else
                    {

                        <li>@Html.ActionLink("關於我們", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("認養專區", "show", "aniData", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("送養專區", "showForAdopt", "aniData", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("寵物幫手", "Help", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        @*<li>@Html.ActionLink("商 城", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                        @Html.Partial("_LoginPartial")
                    }
                </ul>
            </div>
            <!---->
            <!-- /.nav-collapse-->
        </div>
    </div>
    <div class="container-fluid" style="padding-top:30px">
        @RenderBody()
    </div>

    <footer class="footer1">
        <div class="container">
            <div class="row">
                <!-- row -->
                <hr/>
                <br>
                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget"  style="font-family:微軟正黑體;  color:#3B5998; font-weight:bold;">認養專區</h1>

                            <ul style="font-family:微軟正黑體;">
                                <li><a href="@Url.Action("opAnimalList", "opAnimal")" class="footer1list"><i class="fa fa-angle-double-right"></i> 認養收容所動物</a></li>
                                <li><a href="@Url.Action("PetInformation", "Pet")" class="footer1list"><i class="fa fa-angle-double-right"></i> 認養Pet Go動物</a></li> 
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget"  style="font-family:微軟正黑體;  color:#3B5998; font-weight:bold;">送養專區</h1>

                            <ul  style="font-family:微軟正黑體;">
                                <li><a href="@Url.Action("showForAdopt", "aniData",new { id = User.Identity.GetUserName() })" class="footer1list"><i class="fa fa-angle-double-right"></i>  我要送養寵物</a></li>
                            </ul>

                        </li>
                
                    </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->

                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->

                            <h1 class="title-widget"  style="font-family:微軟正黑體; color:#3B5998; font-weight:bold;">寵物幫手</h1>

                            <ul   >
                                <li><a href="@Url.Action("aniwiki", "Home")" class="footer1list" ><i class="fa fa-angle-double-right"></i> 動物圖鑑</a></li>
                                <li><a href="@Url.Action("FAQ", "Home")" class="footer1list"><i class="fa fa-angle-double-right"></i> FAQ</a></li>
                                <li><a href="@Url.Action("Information", "Home")" class="footer1list"><i class="fa fa-angle-double-right"></i> 照護須知</a></li>
                                <li><a href="@Url.Action("Index", "maps")" class="footer1list"><i class="fa fa-angle-double-right"></i> 地圖幫手</a></li>
                            </ul>

                        </li>

                    </ul>


                </div><!-- widgets column left end -->


                <div class="col-lg-3 col-md-3">
                    <!-- widgets column center -->



                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->

                        <li class="widget-container widget_recent_news">
                            <!-- widgets list -->

                            <h1 class="title-widget"  style="font-family:微軟正黑體; color:#3B5998; font-weight:bold;">聯繫我們</h1>

                            <div class="footerp">

                                <h2 class="title-median"  style="font-family:微軟正黑體;">Pet Go認養大平台</h2>
                                <p  style="font-family:微軟正黑體; text-align:left;"><b>Phone :</b> 07-969-9885</p>
                                <p  style="font-family:微軟正黑體; text-align:left;"><b>Email :</b> <a href="mailto:cr4iii9204@gmail.com"> cr4iii9204@gmail.com</a></p>
                                <p  style="font-family:微軟正黑體; text-align:left;">
                                    <b>Corp Office :</b><br/>
                                      高雄市前金區中正四路211號8樓之1
                                </p> 
                               
                            </div>

                            <div class="social-icons">

                                <ul class="nomargin">

                                    <a href=""><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                    <a href=""><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                    <a href=""><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                    <a href="mailto:cr4iii9204@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                       <p  style="font-family:微軟正黑體; font-size:16px;"> &copy; @DateTime.Now.Year - Pet Go</p> 

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                       <p  style="font-family:微軟正黑體;  font-size:16px;">以認養代替購買 動物關懷</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--
    <footer class="col-lg-12">
        <hr/>
        <br>
        <p style="font-family:微軟正黑體; text-align:center;">&copy; @DateTime.Now.Year - Pet Go 以認養代替購買 動物關懷</p>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>

        @*<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js'></script>*@

    </footer>
-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
