@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "navbar-brand",title = "Manage" })
        </li>
        <li><a href="@Url.Action( "MsgList", "aniData",new { id = User.Identity.GetUserId() })" class = "navbar-brand"@*,title = "Message"*@>訊息匣&nbsp;<span class="badge">42</span></a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li ><a href="javascript:document.getElementById('logoutForm').submit()"  class = "navbar-brand">登出</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"  ,@class = "navbar-brand" })</li>
        <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-brand" })</li>
    </ul>
}
