@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Helpcss/help.css")

<br/>
<br/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="margin:0px auto;">
                    <span class="grid"><img src="~/Content/Images/helper/helper.png" style="display:block; margin:auto; max-width:100%;" /></span>
                </div>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <hr/>
                <p style="font-family:微軟正黑體; font-size:18px;">本站提供新手照顧寵物的相關資訊，以及動物醫院的位置。</p>
            </div>
        </div>
    </div>
</section>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
           
            <a href="@Url.Action("aniwiki", "Home")"><span class="glyphicon glyphicon-book logo-small"></span><h2 style="font-family:微軟正黑體;">動物圖鑑</h2> </a>
</div>
        <div class="col-sm-6">
          
            <a href="@Url.Action("FAQ", "Home")"><span class="glyphicon glyphicon-question-sign logo-small"></span><h2 style="font-family:微軟正黑體;">FAQ</h2></a>

</div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col-sm-6">
           
            <a href="@Url.Action("Information", "Home")"><span class="glyphicon glyphicon-leaf logo-small"></span>
                <h2 style="font-family:微軟正黑體;">照護須知</h2></a>
</div>
        <div class="col-sm-6">
           
            <a href="@Url.Action("Index", "maps")"><span class="glyphicon glyphicon-map-marker logo-small"></span><h2 style="font-family:微軟正黑體;">地圖幫手</h2></a>
</div>
    </div>
</div>




