@using PagedList
@using PagedList.Mvc
@model PagedList.StaticPagedList<prjPetAdoption.Models.OpenData>

@{
    ViewBag.Title = "opAnimal";
}

<br/>
<br />
<h2  style=" font-family:微軟正黑體; text-align:center;">全台收容所動物資訊</h2>
<hr>
<div class="row well">
    <form class="form" role="form">
        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">縣市</span>
                <select class="form-control" id="Districts" name="Districts">
                    <option value=""> -全部-</option>
                    <option value="2"> 臺北市</option>
                    <option value="3"> 新北市</option>
                    <option value="4"> 基隆市</option>
                    <option value="5"> 宜蘭縣</option>
                    <option value="6"> 桃園縣</option>
                    <option value="7"> 新竹縣</option>
                    <option value="8"> 新竹市</option>
                    <option value="9"> 苗栗縣</option>
                    <option value="10"> 臺中市</option>
                    <option value="11"> 彰化縣</option>
                    <option value="12"> 南投縣</option>
                    <option value="13"> 雲林縣</option>
                    <option value="14"> 嘉義縣</option>
                    <option value="15"> 嘉義市</option>
                    <option value="16"> 臺南市</option>
                    <option value="17"> 高雄市</option>
                    <option value="18"> 屏東縣</option>
                    <option value="19"> 花蓮縣</option>
                    <option value="20"> 臺東縣</option>
                    <option value="21"> 澎湖縣</option>
                    <option value="22"> 金門縣</option>
                    <option value="23"> 連江縣</option>
                </select>

               
            </div>
        </div>

        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">種類</span>
                @Html.DropDownList("Types", null, "-全部-", new { @class = "form-control" })
            </div>
        </div>


        <div class="col-lg-2" >
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">性別</span>
                <select class="form-control" id="Sex" name="Sex">
                    <option value=""> -全部-</option>
                    <option value="M"> 公</option>
                    <option value="F"> 母</option>
                    <option value="N"> 未知</option>
            
                </select>
            </div>
        </div>


        <div class="col-lg-2" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
            <button type="submit" id="buttonSubmit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search">查詢</span>
            </button>
        </div>

     

    </form>
</div>
<div class="row">
    <div class="span8 text-center">
    @Html.PagedListPager((IPagedList)Model,
        page => Url.Action("opAnimalList", new
        {
            page = page,
            districts = ViewBag.SelectedDistrict,
            types = ViewBag.SelectedType

        }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
</div>

<div>
    @if (@ViewBag.IMG != "")
    {
        <img src="@ViewBag.IMG" style="max-width:80%" />
    }


</div>
<div id="masonry" class="container-fluid">

    @foreach (var item in Model)
    {
      
            if (@item.album_file == "")
            {
                <div class="thumbnail">
                    <a href=@Url.Action("opAniOne", "opAnimal", new { id = @Html.DisplayFor(modelItem => item.animal_id) })>
                        <div class="imgs">
                            <img src="http://i.imgur.com/SfojWcu.png" width="300px" height="auto" />
                        </div>
                        <div class="caption">
                            <div class="title">@Html.DisplayFor(modelItem => item.shelter_name)</div>
                            <div class="content">
                            </div>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="thumbnail">
                    <a href=@Url.Action("opAniOne", "opAnimal", new { id = @Html.DisplayFor(modelItem => item.animal_id) })>
                        <div class="imgs">
                            <img src="@Html.DisplayFor(modelItem => item.album_file)" width="300px" height="auto" />
                        </div>
                        <div class="caption">
                            <div class="title"  style=" font-family:微軟正黑體; font-size:16px; text-align:center; color:#3B5998;">@Html.DisplayFor(modelItem => item.shelter_name)</div>
                            <div class="content">
                            </div>
                        </div>
                    </a>
                </div>
            }

        

    }


</div>

@section scripts{
    @Styles.Render("~/Content/masonry.css")
    @Scripts.Render("~/bundles/masonry")
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var masonryNode = $('#masonry');
            masonryNode.imagesLoaded(function () {
                masonryNode.masonry({
                    itemSelector: '.thumbnail',
                    isFitWidth: true
                });
            });

        });
    </script>

}




