@model prjPetAdoption.Models.animalData_Condition

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}



<script type="text/javascript">
    //取得下拉選單值的方法

    var $ = function(e){ return document.getElementById(e); }
    var swap = function (val, input) {
        var txt = $(input);
        txt.val(val);

    };
</script>

<script type="text/javascript">
    //$(document).ready( function (){
    function addID (){
        var id= @ViewBag.animalID;
        $('#animalID').val(id);
    };

    function aler() {
        alert("請先登入會員。");
    }
    //});
</script>

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 新增送養寵物</h3>

        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> 填寫動物送養條件</h4>
                    

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @Html.EditorFor(model => model.condition_animalID, new { htmlAttributes = new { @class = "form-control", @id = "animalID", @style = "display:none" } })
                            @Html.ValidationMessageFor(model => model.condition_animalID, "", new { @class = "text-danger", @style = "display:none" })

                            <div class="form-group">
                                <label class="control-label col-md-2">認養者年齡限制</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aAge') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="需年滿20歲以上"> 需年滿20歲以上</option>
                                        <option value="需年滿25歲以上"> 需年滿25歲以上</option>
                                        <option value="需年滿30歲以上"> 需年滿30歲以上</option>
                                    </select>
                                    @Html.EditorFor(model => model.conditionAge, new { htmlAttributes = new { @class = "form-control", @id = "aAge", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionAge, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">認養者經濟條件</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aEconomy') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="需有穩定工作"> 需有穩定工作</option>
                                        <option value="需年收30萬以上"> 需年收30萬以上</option>
                                        <option value="需年收50萬以上"> 需年收50萬以上</option>
                                    </select>
                                    @Html.EditorFor(model => model.conditionEconomy, new { htmlAttributes = new { @class = "form-control", @id = "aEconomy", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionEconomy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">認養者環境狀況</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aHome') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="需先提供環境照片"> 需先提供環境照片</option>
                                        <option value="能不關籠子飼養"> 能不關籠子飼養</option>

                                    </select>
                                    @Html.EditorFor(model => model.conditionHome, new { htmlAttributes = new { @class = "form-control", @id = "aHome", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionHome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否需經家人或室友同意</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aFamily') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="需經同意">需經同意 </option>
                                        <option value="不需經同意">不需經同意 </option>
                                    </select>
                                    @Html.EditorFor(model => model.conditionFamily, new { htmlAttributes = new { @class = "form-control", @id = "aFamily", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionFamily, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否需願意回報飼育狀況</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aReply') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="是">是 </option>
                                        <option value="否">否 </option>
                                    </select>
                                    @Html.EditorFor(model => model.conditionReply, new { htmlAttributes = new { @class = "form-control", @id = "aReply", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionReply, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否需簽訂切結書</label>
                                <div class="col-md-10">
                                    <select class="form-control col-md-10" id="sKind" onChange="swap(this.value, '#aPaper') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="是">是 </option>
                                        <option value="否">否 </option>
                                    </select>
                                    @Html.EditorFor(model => model.conditionPaper, new { htmlAttributes = new { @class = "form-control", @id = "aPaper", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.conditionPaper, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">是否需負擔其他費用</label>
                              
                                    @*<select class="form-control  col-md-10" id="sKind" onChange="swap(this.value, '#aFee') ">
                                        <option value="不限"> -不限-</option>
                                        <option value="是">是 </option>
                                        <option value="否">否 </option>
                                    </select>*@
                               
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.conditionFee, new { htmlAttributes = new { @class = "form-control  col-md-10", @id = "aFee", placeholder = "若有請填寫說明" } })
                                        @Html.ValidationMessageFor(model => model.conditionFee, "", new { @class = "text-danger" })

                                    </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">其他條件</label>

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.conditionOther, new { htmlAttributes = new { @class = "form-control", placeholder = "若有請填寫說明" } })
                                    @Html.ValidationMessageFor(model => model.conditionOther, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("取消送養", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
                                   
                                     @using Microsoft.AspNet.Identity
                                    @if (Request.IsAuthenticated)
                {
                                        <input type="submit" value="下一步 圖片上傳" class="btn btn-warning " onclick="addID()" />
                                    }
                                    else
                                    {
                                        <input type="button" value="下一步 圖片上傳" class="btn btn-warning " onclick="aler();" />
                                    }



                                </div>
                            </div>
                       </div>
                    }

                    <div>

                    </div>





                    @*<form class="form-horizontal style-form" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">動物種類(一般預設文字輸入框)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">動物種類(一般文字輸入框+提示詞)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                                <span class="help-block">I have a pen </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">動物種類(一般文字輸入框+Placeholder)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="This is Placeholder!!!!!!!!!!!!!!!">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">取消送養</button>
                        <button type="submit" class="btn btn-theme">下一步填寫認養條件</button>
                        <div class="showback">
                            <h4><i class="fa fa-angle-right"></i> Basic Buttons</h4>
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                        </div><!-- /showback -->
                    </form>
                </div>
            </div><!-- col-lg-12-->
        </div><!-- /row -->
        <!-- INLINE FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> Inline Form</h4>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-theme">下一步填寫認養條件</button>
                    </form>
                </div><!-- /form-panel -->
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->
        <!-- INPUT MESSAGES -->
        <!-- INPUT MESSAGES -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> Checkboxes, Radios & Selects</h4>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            是否施打疫苗
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            是否植入晶片
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            是否結紮
                        </label>
                    </div>

                    <hr>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1">某人UX是否很差
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2">某人是不是講話讓人火大
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3">
                    </label>

                    <hr>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <select multiple class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>*@



                </div><!-- /form-panel -->
            </div><!-- /col-lg-12 -->
        </div>
    </section>
</section>
