@model prjPetAdoption.Models.animalData_Condition

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>animalData_Condition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conditionAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionEconomy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionEconomy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionReply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionReply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionPaper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionPaper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conditionOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conditionOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalData.animalKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animalData.animalKind)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
