@model prjPetAdoption.Models.board

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>board</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.boardTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalData.animalKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animalData.animalKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.boardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
