@model IEnumerable<prjPetAdoption.Models.aniDataPic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MGLayout .cshtml";
}

    <p>
        @Html.ActionLink("新增圖片", "Create")
    </p>

    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>圖片管理</h3>
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <h4> </h4>
                        <table class="table table-striped table-advance table-hover" style="max-width:95%" align="center">

                            <tr>
                                <th>圖片</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.animalName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.animalKind)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.animalType)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.animalAddress)
                                </th>

                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr class="row-odd">

                                    <td width="150px">
                                        <img src="@item.animalPicAddress" style="max-height:150px;max-width:150px" />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.animalName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.animalKind)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.animalType)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.animalPicAddress)
                                    </td>
                                   
                                    <td>
                                        @Html.ActionLink("編輯", "Edit", new { id = item.animalID }) |
                                        @Html.ActionLink("檢視", "Details", new { id = item.animalID }) |
                                        @Html.ActionLink("刪除", "Delete", new { id = item.animalID })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

