@using PagedList
@using PagedList.Mvc
@model IEnumerable<prjPetAdoption.Models.aniDataPicOne>

@{
    ViewBag.Title = "PET";
}
    <br/>
    <br />
<h2 style=" font-family:微軟正黑體; text-align:center;">Pet Go 動物認養資訊</h2>
<hr>
<div class="row well">
    <form class="form" role="form">
        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">縣市</span>
                <select class="form-control" id="City" name="City">
                    <option value="">全部</option>
                    <option value="臺北市">臺北市</option>
                    <option value="新北市">新北市</option>
                    <option value="基隆市">基隆市</option>
                    <option value="宜蘭縣">宜蘭縣</option>
                    <option value="桃園縣">桃園縣</option>
                    <option value="新竹縣">新竹縣</option>
                    <option value="新竹市">新竹市</option>
                    <option value="苗栗縣">苗栗縣</option>
                    <option value="臺中市">臺中市</option>
                    <option value="彰化縣">彰化縣</option>
                    <option value="南投縣">南投縣</option>
                    <option value="雲林縣">雲林縣</option>
                    <option value="嘉義縣">嘉義縣</option>
                    <option value="嘉義市">嘉義市</option>
                    <option value="臺南市">臺南市</option>
                    <option value="高雄市">高雄市</option>
                    <option value="屏東縣">屏東縣</option>
                    <option value="花蓮縣">花蓮縣</option>
                    <option value="臺東縣">臺東縣</option>
                    <option value="澎湖縣">澎湖縣</option>
                    <option value="金門縣">金門縣</option>
                    <option value="連江縣">連江縣</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">種類</span>
                @Html.DropDownList("Kind", null, "全部", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">品種</span>
                @Html.DropDownList("Types", null, "全部", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
                <span class="input-group-addon">性別</span>
                @Html.DropDownList("Gender", null, "全部", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-lg-2" style=" font-family:微軟正黑體; font-size:16px; text-align:center; ">
            <button type="submit" id="buttonSubmit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search">查詢</span>
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="span8 text-center">
        @Html.PagedListPager((IPagedList)Model,
        page => Url.Action("PetInformation", new
        {
            page = page,
            city = ViewBag.SelectedCity,
            type = ViewBag.SelectedType

        }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>

@*<div>
    @if (@ViewBag.IMG != "")
    {
        <img src="@ViewBag.IMG" style="max-width:80%" />
    }


</div>*@

<div id="masonry" class="container-fluid">
    @foreach (var item in Model)
    {
        if (@item.animalPicAddress == "")
        {
            <a href=@Url.Action("oneAni", "aniData", new { id = @Html.DisplayFor(modelItem => item.animalID) })>
                <div class="thumbnail">
                    <div class="imgs">
                        <img src="http://i.imgur.com/ELgcmBd.png" width="300" />
                    </div>
                    <div class="caption">
                        <div class="title" >@Html.DisplayFor(modelItem => item.animalAddress)</div>
                        <div class="content" >
                            @Html.DisplayFor(modelItem => item.animalKind)
                            @Html.DisplayFor(modelItem => item.animalType)
                            @Html.DisplayFor(modelItem => item.animalAddress)
                        </div>
                    </div>
                </div>
            </a>
        }
        <a href=@Url.Action("oneAni", "aniData", new { id = @Html.DisplayFor(modelItem => item.animalID) })>
            <div class="thumbnail">

                <div class="imgs">
                    <img src="@Html.DisplayFor(modelItem => item.animalPicAddress)" width="300" />
                </div>
                <div class="caption">
                    <div class="title" style=" font-family:微軟正黑體; font-size:16px; text-align:center; color:#3B5998;">@Html.DisplayFor(modelItem => item.animalAddress)</div>
                    <div class="content"  style=" font-family:微軟正黑體; font-size:14px; text-align:center; color:#3B5998;">
                        @Html.DisplayFor(modelItem => item.animalKind)
                        @Html.DisplayFor(modelItem => item.animalType)
                        @Html.DisplayFor(modelItem => item.animalAddress)
                    </div>
                </div>
            </div>
        </a>
    }
</div>
    </div>

@*@Html.PagedListPager((IPagedList)Model,
        page => Url.Action("opAnimalList", new
        {
            page = page,
            districts = ViewBag.SelectedDistrict,
            types = ViewBag.SelectedType

        }),
        PagedListRenderOptions.ClassicPlusFirstAndLast)*@



@section scripts{
    @Styles.Render("~/Content/masonry.css")
    @Scripts.Render("~/bundles/masonry")
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var masonryNode = $('#masonry');
            masonryNode.imagesLoaded(function () {
                masonryNode.masonry({
                    itemSelector: '.thumbnail',
                    isFitWidth: true
                });
            });

        });
    </script>

}