@model prjPetAdoption.Models.animalData

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 送養動物編輯</h3>

        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> 編輯動物基本資料</h4>


                    @using Microsoft.AspNet.Identity
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>animalData</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.animalID)

                            <div class="form-group">
                                <label class="control-label col-md-2">動物種類</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalKind, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalKind, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">動物品種</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">動物名稱</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">所在縣市</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-2">動物性別</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-2">動物性別</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalGender, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalGender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">動物年紀（月份）</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalAge, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalAge, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否已節育</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalColor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalColor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否已節育</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalBirth, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">是否已植入晶片</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalChip, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalChip, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">健康狀態</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalHealthy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalHealthy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">健診狀況</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalDisease_Other, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.animalDisease_Other, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.animalOwner_userID, new { htmlAttributes = new { @class = "form-control", @id = "aOwner_userID", @style = "display:none" } })
                                    @Html.ValidationMessageFor(model => model.animalOwner_userID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">送養理由</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.animalReason, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.animalReason, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                @Html.LabelFor(model => model.animalGetter_userID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.animalGetter_userID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.animalGetter_userID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.animalAdopted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.animalAdopted, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.animalAdopted, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.animalAdoptedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.animalAdoptedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.animalAdoptedDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

                                <div class="form-group">
                                    <label class="control-label col-md-2">其他備註</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.animalNote, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.animalNote, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="下一步 編輯送養條件" class="btn btn-info" onclick="addID()" />
                                    </div>
                                </div>
                            </div>
                        
                        <text>
                            <script type="text/javascript">
                            function addID() {
                                $('#aOwner_userID').val('@User.Identity.GetUserId().ToString()');
                            };

                            </script>
                        </text>



}
                    <div>
                        @Html.ActionLink("取消編輯", "Index", "Manage", new { area = "" }, new { @class = "btn btn-default" })
                    </div>

                </div><!-- /form-panel -->
            </div><!-- /col-lg-12 -->
        </div>
    </section>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
