@model prjPetAdoption.ViewModels.AllAniDataViewModel

@{
    ViewBag.Title = "MsgList";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>認養管理</h3>
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i>已認養動物清單</h4>
                    <table class="table table-striped table-advance table-hover" style="max-width:85%" align="center">

                        <thead>
                            <tr>
                                <th><i class="glyphicon glyphicon-picture"></i> 圖片</th>
                                <th><i class="fa fa-bookmark"></i> 姓名</th>
                                <th><i class="fa fa-bookmark"></i> 種類</th>
                                <th><i class="fa fa-bookmark"></i> 品種</th>
                                <th><i class="fa fa-map-marker"></i> 性別</th>
                                <th><i class="fa fa-map-marker"></i> 年齡</th>
                                <th><i class="fa fa-map-marker"></i> 健診資訊</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (@ViewBag.noforAdop != null)
                            {
                                <tr class="row-odd">
                                    <td colspan="5" align="center">
                                        <a href="#">
                                            <img src="@ViewBag.noforAdop" style="max-width:800px" />
                                        </a>
                                    </td>

                                </tr>
                            }

                            @foreach (var item in Model.aniDataPicOneList2)
                            {

                                <tr class="row-odd">

                                    <td width="150px">


                                        <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">
                                            <img src="@item.animalPicAddress" style="max-height:150px;max-width:150px" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">@item.animalName</a>
                                    </td>
                                    <td>
                                        <a href="#">@item.animalKind</a>
                                    </td>
                                    <td>
                                        @item.animalType
                                    </td>
                                    <td>
                                        @item.animalGender
                                    </td>
                                    <td>
                                        @item.animalAge

                                    </td>
                                    <td style="max-width:150px">
                                        @item.animalDisease_Other

                                    </td>
                                    <td>

                                        @using (Html.BeginForm("Edit", "animalDatas", new { id = @item.animalID }, FormMethod.Post, new { onsubmit = "return confirm('是否確認編輯送養資訊?');" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HttpMethodOverride(HttpVerbs.Put)
                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            @*<button type="submit" class="btn btn-success">編輯送養</button>*@
                                        }
                                    </td>
                                    <td>

                                    </td>
                                    
                                </tr>


                            }

                        </tbody>
                    </table>

                   
                </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
        </div><!-- /row -->

    </section><!--/wrapper -->
</section><!-- /MAIN CONTENT -->
