@model prjPetAdoption.ViewModels.AllAniDataViewModel

@{
    ViewBag.Title = "MsgList";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<script type="text/javascript">
    function Delete(id) {
        if (confirm('你確定要刪除嗎 ?')) {
            $.post('<%= Url.Action("DelfollowAniSure","aniData") %>', { id: id },
                     function (data, textStatus) {
                         if (data == "1") {
                             alert('刪除成功!');
                             location.reload(true);
                         }
                         else {
                             alert('Error');
                         }
                     }, "text");
        }
    }
</script>


<script type="text/javascript">
@foreach (var item in Model.aniDataPicOneList)
{
    <text>
                                            function addpart() {
                                                $("#editAdopt_@item.animalID").empty();
                                                $("#editAdopt_@item.animalID").load("/animalDatas/EditAdopt/@item.animalID");

                                            };
    </text>
}
</script>

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>送養管理</h3>
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <br />
                    @using Microsoft.AspNet.Identity
                    @Html.ActionLink("新增送養", "Create", "animalDatas", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-warning col-md-offset-1 col-md-1 " })
                    <br />
                    <br /><hr />
                    <h4><i class="fa fa-angle-right"></i>送養動物清單</h4>
                    <table class="table table-striped table-advance table-hover" style="max-width:85%" align="center">

                        <thead>
                            <tr>
                                <th><i class="glyphicon glyphicon-picture"></i> 圖片</th>
                                <th><i class="fa fa-bookmark"></i> 姓名</th>
                                <th><i class="fa fa-bookmark"></i> 種類</th>
                                <th><i class="fa fa-bookmark"></i> 品種</th>
                                <th><i class="fa fa-map-marker"></i> 送養狀態</th>
                                <th><i class="fa fa-map-marker"></i> 收養人</th>
                                <th colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (@ViewBag.noforAdop != null)
                            {
                                <tr class="row-odd">
                                    <td colspan="5" align="center">
                                        <a href="#">
                                            <img src="@ViewBag.noforAdop" style="max-width:800px" />
                                        </a>
                                    </td>

                                </tr>
                            }

                            @foreach (var item in Model.aniDataPicOneList)
                            {

                                <tr class="row-odd">

                                    <td width="150px">


                                        <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">
                                            <img src="@item.animalPicAddress" style="max-height:150px;max-width:150px" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">@item.animalName</a>
                                    </td>
                                    <td>
                                        <a href="#">@item.animalKind</a>
                                    </td>
                                    <td>
                                        @item.animalType
                                    </td>
                                    <td>
                                        @if (@item.animalGetter_userID == null)
                                        {
                                            <text>尚未被認養</text>
                                        }
                                        else
                                        {
                                            <text>已被認養</text>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.animalGetter_userID == null)
                                        {
                                            <text>尚未被認養</text>
                                        }
                                        else
                                        {
                                            @item.animalGetter_userID
                                        }


                                    </td>
                                    <td>

                                        @using (Html.BeginForm("Edit", "animalDatas", new { id = @item.animalID }, FormMethod.Post, new { onsubmit = "return confirm('是否確認編輯送養資訊?');" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HttpMethodOverride(HttpVerbs.Put)
                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            @*<button type="submit" class="btn btn-success">編輯送養</button>*@
                                        }
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("DeleteConfirmed", "animalDatas", new { id = @item.animalID }, FormMethod.Post, new { onsubmit = "return confirm('是否確認刪除送養?');" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>

                                        }
                                        @*<button type="submit" class="btn btn-success">取消送養</button>*@

                                    </td>
                                    <td>

                                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal_@item.animalID" onclick="addpart();"><i class="glyphicon glyphicon-gift "></i></button>


                                        @*<script>
                                            function addpart() {
                                                $("#editAdopt_@item.animalID").empty();
                                                $("#editAdopt_@item.animalID").load("/animalDatas/EditAdopt/@item.animalID");

                                            };
                                        </script>*@



                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal_@item.animalID" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">確認送養</h4>

                                                    </div>
                                                    <div class="modal-body" id="editAdopt_@item.animalID">


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <!-- Modal -->


                                    </td>
                                    <td>  </td>
                                </tr>


                            }
                        </tbody>
                    </table>
                    <br /><hr />

                    <h4><i class="fa fa-angle-right"></i>已送養成功清單</h4>
                    <table class="table table-striped table-advance table-hover" style="max-width:85%" align="center">

                        <thead>
                            <tr>
                                <th><i class="glyphicon glyphicon-picture"></i> 圖片</th>
                                <th><i class="fa fa-bookmark"></i> 姓名</th>
                                <th><i class="fa fa-bookmark"></i> 種類</th>
                                <th><i class="fa fa-bookmark"></i> 品種</th>
                                <th><i class="fa fa-map-marker"></i> 送養狀態</th>
                                <th><i class="fa fa-map-marker"></i> 收養人</th>
                                <th colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (@ViewBag.nofor == null)
                            {

                                foreach (var item in Model.aniDataPicOneList2)
                                {

                                    <tr class="row-odd">

                                        <td width="150px">


                                            <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">
                                                <img src="@item.animalPicAddress" style="max-height:150px;max-width:150px" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("oneAni", "aniData",new { id = @item.animalID})">@item.animalName</a>
                                        </td>
                                        <td>
                                            <a href="#">@item.animalKind</a>
                                        </td>
                                        <td>
                                            @item.animalType
                                        </td>
                                        <td>
                                            @if (@item.animalGetter_userID == null)
                                            {
                                                <text>尚未被認養</text>
                                            }
                                            else
                                            {
                                                <text>已被認養</text>
                                            }
                                        </td>
                                        <td>
                                            @if (@item.animalGetter_userID == null)
                                            {
                                                <text>尚未被認養</text>
                                            }
                                            else
                                            {
                                                @item.animalGetter_userID
                                            }


                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>  </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr class="row-odd">
                                    <td colspan="5" align="center">
                                        <a href="#">
                                            <img src="@ViewBag.nofor" style="max-width:800px" />
                                        </a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                   
                    <br /><br />
                </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
        </div><!-- /row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
