@model prjPetAdoption.Models.Msg

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Msg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.msgTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msgFrom_userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgFrom_userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msgType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msgFromURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgFromURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msgContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msgRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msgRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
