@model prjPetAdoption.Models.animalData_Pic

<script src=@Url.Content("~/Scripts/jquery-3.1.1.min.js") type="text/javascript"></script>
<script type="text/javascript" src=@Url.Content("~/Scripts/imgup/imgUpload.js")></script>


<script type="text/javascript">
  

    //function iping(){
    //    var t = setTimeout("alert('圖片上傳中請稍後')",5000);
    //};
    function iping2(){
        alert("ip2");
        document.getElementById('Msgshow').innerHTML = "";
    };

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>圖片上傳</h4>
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <button id="uploadResult" type="button" class="btn uploadBtn  btn-info  col-md-" onclick="iping();">請選擇圖片上傳</button>
                <label for="comment">已上傳照片預覽如下</label>
                <div id="Msgshow" class="col-md-offset-2 col-md-10">
                </div>
                <div id="picshow" class="col-md-offset-2 col-md-10 ">


                </div>



                <script type="text/javascript">
            $(function(){
                //用來顯示上傳結果的 textarea
                var uploadResult = document.getElementById('uploadResult');
                //使用單鍵上傳 jQuery plugin
                $('.uploadBtn').imgUpload({
                    action: 'imgur_upload_base64.php', //接收上傳圖片的網頁，要回傳JSON檔
                    multiple: false, //允許選取多張圖片
                    maxWidth: 1024, //寬度限制最大1000px
                    maxHeight: 0,   //高度不限制

                });

            });

            var id= @ViewBag.aID;
            function addID(){
                $('#upID').val(id);
            };
                </script>




                @Html.EditorFor(model => model.animalPic_animalID, new { htmlAttributes = new { @class = "form-control", @id = "upID", @style = "visibility:hidden" } })
                @Html.ValidationMessageFor(model => model.animalPic_animalID, "", new { @class = "text-danger" })
                
                @Html.EditorFor(model => model.animalPicAddress, new { htmlAttributes = new { @class = "form-control", @id = "upPic", @style = "visibility:hidden" } })
                @Html.ValidationMessageFor(model => model.animalPicAddress, "", new { @class = "text-danger" })





                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="新增圖片" class="btn btn-warning" onclick="addID()" />
                        @*<input type="button" value="addID" class="btn btn-warning" onclick="addID()" />*@

                    </div>
                </div>
            </div>
        </div>
    </div>
}


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        }
